*{margin: 0; padding: 0;}
ul, li{list-style: none;}

.row::after{
    content: '';
    display: block;
    clear: both;
}

.container{
    width: 1200px;
    margin: 0 auto;
}

.container>.row{
    /*background: pink;*/
    display: block;
    margin-left: -5px;
}

.container>.row>li{
    float: left;
    margin: 4px 0 4px 5px;
}

.container>.row>li>a{
    text-decoration: none;
    color: inherit;
}

.container>.row>li img{
    display: block;
}

#more{
    height: 10px;
}