*{
	margin: 0;
	padding: 0;
}

ul, li{
	list-style: none;
}

.layout{
	max-width: 1000px;
	margin: 0 auto;
	/*border: 1px solid green;*/
	color: #333;
	font-family: sans-serif;
}

.container{
	max-width: 1150px;
	margin: 0 auto;
	position: relative;
	font-family: sans-serif;
}

.clear:after{
	content: '';
	display: block;
	clear: both;
}

.img-index{
	background-image: url(yys/img-index.png);
	background-repeat: no-repeat;
}

/**************************导航栏*******************************/
.navbar{
	/*display: none;*/
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	color: #eee;
	background-color: rgba(1,1,1,0.7);
}

.navbar .logo{
	float: left;
	width: 250px;
}

.navbar .logo>a{
	display: block;
	width: 72px;
	height: 72px;
	float: left;
	background-position: -1437px -100px, top left;
}

.navbar .logo>h3{
	margin: 0px 20px 0px 80px;
	font-size: 32px;
}

.navbar .logo>p{
	margin: 0px 20px 0px 80px;
	font-size: 16px;
}

.navbar ul{
	display: block;
	float: right;
	position: absolute;
	top: 10px;
	right: 10px;
}

.navbar ul>li{
	display: inline-block;
	margin-left: 15px;
	text-align: right;
}

.navbar ul>li>a{
	display: block;
	padding: 15px 10px;
	text-decoration: none;
	text-align: center;
	width: 80px;
	color: inherit;
	border-radius: 5px;
}

.navbar ul>li>a:hover{
	color: #fed136;
}

.navbar ul>li>a:active{
	color: #eee;
	background-color: #fed136;
}

.navbar ul>li>a:focus{
	color: #fff;
	background-color: #fed136;
	opacity: 0.9;
}
/*******************************导航栏--end******************************/

/********************************头部封面********************************/
header{
	background-image: url(yys/header.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 100vh;
	min-height: 700px;
}

header{
	position: relative;
}

header>img.slogan{
	display: block;
	position: absolute;
	top: 60%;
	left: 50%;
	margin-left: -398px;
}

header>img.logo{
	display: block;
	position: absolute;
	top: 10%;
	right: 11%;
}

header>.download{
	background-image: url(yys/download_bg.png);
	background-repeat: no-repeat;
	width: 301px;
	height: 135px;
	position: absolute;
	top: 80%;
	left: 50%;
	margin-left: -150px;
}

header>.download>img{
	width: 117px;
	display: block;
	float: left;
	margin: 9px 2px;
}

header>.download>a{
	display: block;
	width: 171px;
	height: 51px;
	margin: 12px 0 7px 124px;
}

header>.download>a:first-of-type{
	background-position: -626px -1240px, left top;
}

header>.download>a:last-of-type{
	background-position: -1200px -1096px, left top;
}

header>.download>a:first-of-type:hover{
	background-position: -797px -1240px, left top;
}

header>.download>a:last-of-type:hover{
	background-position: -127px -302px, left top;
}
/****************************头部封面--end****************************/

/*****************************主角介绍********************************/
#character{
	padding: 120px 0;
}

#character>h2, #character>p{
	max-width: 550px;
	margin: 10px auto;
	text-align: center;
}

#character>p{
	color: #777;
}

#character>.line-list>li{
	position: relative;
	line-height: 1.5em;
	padding-top: 1px;
}

#character>.line-list>.left>.introduct,
#character>.line-list>.right>.photo{
	position: absolute;
	top: 0;
	right: 50%;
	margin-right: 150px;
	text-align: right;
}

#character>.line-list>.right>.introduct,
#character>.line-list>.left>.photo{
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: 150px;
	text-align: left;
}

#character>.line-list>li>.introduct{
	margin-top: 38px;
}

#character>.line-list>li>.introduct>p{
	color: #777;
}

#character>.line-list>li>.photo{
	opacity: 0;
	transform: translateY(20%);
	visibility: hidden;
}

#character>.line-list .line-img{
	display: block;
	width: 170px;
	margin: 30px auto 134px auto;
	border: 8px solid #e4e4e4;
	border-radius: 50%;
}

#character>.line-list .line-img:hover ~ .photo{
	opacity: 1;
	visibility: visible;
	transform: translate(0);
	transition: all 1s;
}

#character>.line-list>.join{
	font-size: 37px;
	font-weight: 700;
	color: #eee;
	width: 110px;
	margin: 0 auto;
	border: 30px solid #fed136;
	border-radius: 50%;
	background-color: #fed136;
	text-align: center;
}

#character>.line-list>li:nth-child(1):before,
#character>.line-list>li:nth-child(2):before,
#character>.line-list>li:nth-child(3):before,
#character>.line-list>li:nth-child(4):before{
	content: '';
	display: block;
	height: 100%;
	position: absolute;
	top: 210px;
	left: 50%;
	border: 2px solid #e4e4e4;
}
/********************************主角介绍--end***************************/

/********************************活动专区********************************/
#active{
	padding: 120px 0;
}

#active>.title{
	width: 386px;
	margin: 0 auto;
	vertical-align: middle;
}

#active>.title>.title-img{
	display: inline-block;
	width: 143px;
	height: 133px;
	background-image: url(yys/activity-title.png);
	background-position: 0 -82px, top left;
	vertical-align: middle;
}

#active>.title>h2{
	display: inline-block;
	vertical-align: middle;
}

#active>.card{
	float: left;
	width: 300px;
	margin: 50px 0 0 25px;
	text-align: center;
	color: #777;
}

#active>.card>a{
	display: block;
}

#active>.card>a>img{
	width: 300px;
	border-radius: 50%;
}
/********************************活动专区--end**************************/

/********************************同人专区*******************************/
#fanmade{
	padding: 150px 0;
	text-align: center;
}

#fanmade>h2{
	width: 100px;
	margin: 10px auto;
}

#fanmade>p{
	width: 100px;
	margin: 10px auto;
	color: #777;
}

#fanmade>.cards{
	margin: 50px 0 0 -20px;
}

#fanmade .card{
	position: relative;
	width: 320px;
	float: left;
	margin: 0 0 30px 20px;
}

#fanmade .card img{
	display: block;
	width: 320px;
}

#fanmade .card h4{
	margin-top: 10px;
}

#fanmade .card p{
	color: #777;
}

#fanmade .card .cover{
	display: block;
	color: #eee;
	width: 320px;
	height: 180.172px;
	background: #fed136;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
}

#fanmade .card .cover>h1{
	font-size: 90px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -34.258px;
	margin-top: -69.5px;
}

#fanmade .card>a{
	display: block;
}

#fanmade .card>a:hover>.cover{
	opacity: 1;
	visibility: visible;
	transition: opacity 0.7s;
}
/******************************同人专区--end****************************/
