* {
	margin: 0;
	padding: 0;
}

ul, li {
	list-style: none;
}

body {
	background-color: #fff2e3;
}

#header, #main, #footer{
	width: 800px;
	margin: 0 auto;
	text-align: center;
}

#header>h1 {
	font-size: 2.6em;
	color: #87968e;
	margin: 30px 0 28.14px 0;
}

#header>p {
	font-size: 14px;
	color: #87968e;
	margin: 14px 0 40px 0px;
	opacity: 0.6;
}

.labels {
	width: 400px;
}

.bar {
	margin: 30px auto;
}

.bar:after{
	content: '';
	display: block;
	clear: both;
}

.bar>li {
	display: block;
	margin: 0px 0px 0px 15px;
	background: #72b890;
	color: #fff;
	font-size: 14px;
	border-radius: 3px;
	float: left;
}

.bar>li>label{
	padding: 6px 14px;
	display: block;
	cursor: pointer;
}

.bar>li:hover {
	opacity: 0.8;
}

.slide-show>input {
	display: none;
}

.slide-image {
	width: 400px;
	height: 300px;
	margin: 40px auto 0 auto;
}

.slide-image>li {
	display: none;
}

input[name="slides"]:nth-of-type(1):checked ~ .slide-image>li:nth-child(1),
input[name="slides"]:nth-of-type(2):checked ~ .slide-image>li:nth-child(2),
input[name="slides"]:nth-of-type(3):checked ~ .slide-image>li:nth-child(3),
input[name="slides"]:nth-of-type(4):checked ~ .slide-image>li:nth-child(4),
input[name="slides"]:nth-of-type(5):checked ~ .slide-image>li:nth-child(5){
	display: block;
	animation: slide 1.5s;
}

input[name="slides"]:nth-of-type(1):checked ~ .labels>li:nth-child(1),
input[name="slides"]:nth-of-type(2):checked ~ .labels>li:nth-child(2),
input[name="slides"]:nth-of-type(3):checked ~ .labels>li:nth-child(3),
input[name="slides"]:nth-of-type(4):checked ~ .labels>li:nth-child(4),
input[name="slides"]:nth-of-type(5):checked ~ .labels>li:nth-child(5){
	opacity: 0.6;
}

#main>.bottom-bar{
	position: relative;
	width: 200px;
	/*top: -300px;*/
}

#main>.bottom-bar>li a {
	text-decoration: none;
	padding: 6px 14px;
	display: block;
	color: inherit;
}

.sub-menu {
	display: none;
	position: absolute;
	top: 100%;
	left: 15px;
}

.sub-menu>li {
	border-radius: 3px;
	background: #72b890;
}

.sub-menu>li:hover {
	background-color: #59a078;
	opacity: 1;
}

.bottom-bar>li:hover>.sub-menu {
	display: block;
}


#footer>p {
	font-size: 14px;
	color: #87968e;
}

#footer>p>a {
	text-decoration: none;
	color: #72b890
}


@keyframes slide{
	from{
		opacity: 0.5;
	}
	to{
		opacity: 1;
	}
}